
  body{
    font-family: muli;
  }
  #apppage .view {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
    background: linear-gradient(to bottom, #20126f 5%, #0d469f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
  }
  
  #apppage h6 {
    line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
  }
  @media only screen and (max-width: 767px) {
    #apppage .animated img {
      max-height: 35vh;
      left: -5%;
    }
  }
  @media only screen and (max-width: 767px) {
    .About-pic img
    {
      max-height: 35vh;
      left: -5%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .row-space {
      display: block;
      left: -5%;
    }
    .CardText
    {
      text-align: center !important;
    }
    .CardText h4
    {
      text-align: center !important;
    }
    .CardText h2
    {
      text-align: center !important;
    }
    .About-pic img{
      padding-left: 200px;
      padding-right: 200px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .row-space {
      display: block;
      left: -5%;
    }
    .About-text
    {
      text-align: center !important;
    }
    .About-text h2
    {
      text-align: center !important;
    }
    .About-text p
    {
      text-align: center !important;
    }
    .About-text h4
    {
      text-align: center !important;
    }
  }
  @media (max-width: 767px) and (orientation: landscape) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }
  @media only screen and (min-width: 1300px) {
    .About-pic
    {
      display: block;
      width: 100%;
    }
  }
  @media (min-width: 992px){
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
  }
  .navbar{
    box-shadow: none !important;
    height: 90px;
  }
   .nav-item{
      padding-left: 20px !important;
  }
  .link-adjustment{
    margin-top: 10px;
  } 
  .icon-image img{
    width: auto;
    text-align: left;
  }
  .icon-image{
    max-width: 180px;
    height: auto;
  }
  .ovarlay-style
  {
      position: "absolute";
      top: 0;
      left: 0;
      width: "100%";

      
  }
  canvas{
    width: 100%;
    height: 100%;
    display:block;
    vertical-align:bottom;
    }

.white-text
{
  z-index: 10;
}
.intro-text h1
{
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  line-height: 56px;
  font-style: normal;
  letter-spacing: -2.27px;
}
.intro-text h6
{
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 29px;
}
.intro
{
  position: relative !important;
}
.btn-style
{
  background-color: 	 #668cff!important;
    border: 1px solid 	 #668cff!important;
    border-radius: 30px  !important;

}
.btn-space
{
  margin-top: 1.5rem;
}
.btn-text
{
  border-radius: 30px  !important;
}
/* .wrapper
{
  width: 100%;
  position: fixed !important;
}
.header-section
{
  position: relative;
  display: block;
}
.header-center
{
  display: table;
  width: 100%;
  height: 100%;
}

/* .intro{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -80px;
} */
section{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.Description{
    position: relative;
}
/* .justify-content-center
{
  justify-content: center !important;
  padding-left: 200px;
  padding-right: 200px;
}
.justify-content-center h3
{
  font-family: muli;
  line-height: 1.6;
  font-weight: 600;
  padding-left: 100px;
  padding-right: 100px;
}
.justify-content-center h4
{

  padding-bottom: 10px;
} */
/* .justify-content-center p{
  padding-bottom: 10px ;
  padding-left: 150px;
  padding-right: 150px;
}  */
/* .wrapper
{
  width: 100%;
  position: fixed !important;
}
.header-section
{
  position: relative !important;
  display: block !important;
}
.header-center
{
  display: table !important;
  width: 100%;
  height: 100%;
} */

.bt-center
{
  text-align: center !important;
  
}
.item-button
{
  padding: 20px 50px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  animation: animate 2s linear infinite !important;
}
@keyframes animate{
  0%{
    background-color: red;
  }
  20%{
    background-color: green;
  }
  40%{
    background-color: purple;
  }
  60%{
    background-color: #000080;
  }
}

.About-block
{
  margin-top: 50px;
}
.About-block img
{
  width: 100%;
}
.About-pic img
{
 
    position: relative;
    width: 100%;
    padding-left: 80px;

}
.About-text
{
  width: 100%;
  padding: 50px 0 0 50px;
}
.About-text h4
{
  color: #000080 !important;
}
.About-text h2
{
  /* max-width: 290px; */
  padding-bottom: 12px;

}
.About-text p{
  font-size: 16px;
  padding-right: 150px;
  padding-bottom: 10px;

}
.CardPic img
{
  min-height: 450px;
    position: relative;
    width: 100% !important;
}

.CardText
{
  width: 100%;
  padding: 50px 0 0 50px;

}
.CardText h4
{
  color: #000080 !important;
}
.CardText h2
{
  /* max-width: 290px; */
  padding-bottom: 12px;

}
.CardText p{
  font-size: 16px;
  padding-right: 80px;
  padding-bottom: 10px;
  
}
.Nav-responsive
{
  max-width: 1249px !important;
}
.top-nav-collapse { 
  background-color:   #000080 !important; 
  height: 100px;
}
.info-text
{
  margin-top: 20px;
  padding-left: 350px;
  width: 75%;
}
.contact-section
{
  margin-top: 50px;
}
.image-adjust img
{
  margin-bottom: 30px;

}
.vc_row.vc_row-flex
{
  margin-top: -50px;
}
.btn:not(:disabled):not(.disabled)
{
  border-radius: 50px;
}