
  body{
    font-family: muli,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  #apppage .view {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg");
    background: linear-gradient(to bottom, #20126f 5%, #0d469f 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  #apppage h6 {
    line-height: 1.7;
  }
  
  @media only screen and (max-width: 400px) {
    #apppage .animated img {
      max-height: 60vh;
      /* transform: translateX(-50%); */
      left: 35%;
      /* position: absolute; */
    }
  }

  /* @media only screen and (max-width: 767px) {
    #apppage .animated img {
      max-height: 35vh;
      left: -5%;
    }
  } */
  @media only screen and (max-width: 992px) {
    #tsparticles
    {
      height: 1035px !important;
    }
    /* .navbar-custom {
    background-color: #000080!important;
  } */
  /* .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #000080!important;
    -webkit-box-shadow: 0 10px 33px rgba(15, 31, 62, 0.1);
    box-shadow: 0 10px 33px rgba(15, 31, 62, 0.1);
    color: white !important;
} */
  }
  @media only screen and (max-width: 767px) {
    #tsparticles
    {
      height: 850px !important;
    }
  }
  @media only screen and (max-width: 767px) and (min-width: 320px)
  {
  .vc_row.klb_xs_vc_custom_1528408690919 {
      padding-top: 100px !important;
      padding-bottom: 100px !important;
      margin-top: 50px !important;
  }
}
@media only screen and (max-width: 400px) {
  #tsparticles
  {
    height: 800px !important;
  }
}
/* @media only screen and (max-width: 767px){
.navbar-brand img {
    /* max-width: 200px; */
    /* margin-top: -20px 
} */
@media only screen and (max-width: 480px){
body, .btn {
    font-size: 14px;
}
.h1, h1 {
  font-size: 1.3rem;
}
.banner_btn .btn
{
  padding: 12px !important;
}
}
  @media only screen and (max-width: 1200px) {
    .row-space {
      display: block;
      left: -5%;
    }
    .CardText
    {
      text-align: center !important;
    }
    .CardText h4
    {
      text-align: center !important;
    }
    .CardText h2
    {
      text-align: center !important;
      font-size: 24px;
    }

    .cardPic img{
      width: 70% !important;
    }
    .centered-text
    {
      text-align: center !important;
    }
    .cardPic{
      justify-content: center;
      text-align: center;
    }
    .About-pic
    {
      text-align: center;
    }
    .About-pic img{
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;
    }
    .info-space h3
    {
      font-size: 24px !important;
    }
    .info-space h4
    {
      font-size: 18px !important;
    }

    .CardText p
    {
      margin-left: auto;
      margin-right: auto;
      width: 50em;
      font-size: 14px;
      text-align: center;
      justify-content: center;
    }

  }
  @media only screen and (max-width: 1200px) {
    .CardText p
    {
      width: 38em !important;
    }
    .info-space h3
    {
      font-size: 21px !important;
    }
    .info-text
    {
      width: 45em !important;
      line-height: 1.5rem;
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 768px){
    .CardText p
    {
      width: 35em !important;
    }
    .About-text p
    {
      width: 35em !important;
    }
    .CardText h2
    {
      font-size: 17px !important;
    }
    .info-text
    {

      width: 40em !important;
      line-height: 1.5rem;
      font-size: 14px;
    }
  }
  .About-pic img
  {
    width: 80% !important;
  }
  @media only screen and (max-width: 600px){
    .CardText p
    {
      width: 30em !important;
    }
    .About-text p
    {
      width: 30em !important;
    }
  }

  @media only screen and (max-width: 576px){
    .CardText p
    {
      width: 23em !important;
      font-size: 14px !important;
    }
    .info-text
    {
      width: 23em !important;
      font-size: 14px !important;
    }
    .About-text p
    {
      width: 20em !important;
      font-size: 14px !important;
    }
    /* .About-text h2
    {
      font-size: 16px;
    } */
    .icon-image {
      max-width: 150px;
      height: auto;
    }
    .About-text h2
    {
      font-size: 18px;
    }
  }
  @media only screen and (max-width: 768px) {
    .centered-text
    {
      text-align: center !important;
    }
  }
  @media only screen and (max-width: 1200px) {
    .row-space {
      display: block;
      left: -5%;
    }
    .About-text
    {
      text-align: center !important;
    }
    .About-text h2
    {
      text-align: center !important;
    }
    .About-text p
    {
      margin-left: auto;
      margin-right: auto;
      width: 50em;
      font-size: 14px;
      text-align: center;
      justify-content: center;
    }
    .About-text h4
    {
      text-align: center !important;
      margin-top: 20px;
    }
  }
  @media (max-width: 767px) and (orientation: landscape) {
    #apppage .animated img {
      max-height: 50vh;
      transform: translateX(-50%);
      left: 50%;
      position: relative;
    }
  }
  /* @media only screen and (min-width: 1300px) {
    .About-pic
    {
      display: block;
      width: 100%;
    }
  } */
  @media (min-width: 992px){
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
}  /* /* } */
  .navbar{
    box-shadow: none !important;

  }

  .icon-image img{
    width: auto;
    text-align: left;
  }
  .icon-image{
    max-width: 180px;
    height: auto;
  }

.white-text
{
  z-index: 10;
}
.intro-text h1
{
  font-size: 50px;
  color: #fff;
  font-weight: 600;
  line-height: 56px;
  font-style: normal;
  letter-spacing: -2.27px;
}
.intro-text h6
{
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 29px;
}
.intro
{
  position: relative !important;
}
.btn-style
{
  background-color: 	 #668cff!important;
    border: 1px solid 	 #668cff!important;
    border-radius: 30px  !important;

}
.btn-space
{
  margin-top: 1.5rem;
}
.btn-text
{
  border-radius: 30px  !important;
}
/* .wrapper
{
  width: 100%;
  position: fixed !important;
}
.header-section
{
  position: relative;
  display: block;
}
.header-center
{
  display: table;
  width: 100%;
  height: 100%;
}

/* .intro{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -80px;
} */
section{
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.Description{
    position: relative;
}
/* .justify-content-center
{
  justify-content: center !important;
  padding-left: 200px;
  padding-right: 200px;
}
.justify-content-center h3
{
  font-family: muli;
  line-height: 1.6;
  font-weight: 600;
  padding-left: 100px;
  padding-right: 100px;
}
.justify-content-center h4
{

  padding-bottom: 10px;
} */
/* .justify-content-center p{
  padding-bottom: 10px ;
  padding-left: 150px;
  padding-right: 150px;
}  */
/* .wrapper
{
  width: 100%;
  position: fixed !important;
}
.header-section
{
  position: relative !important;
  display: block !important;
}
.header-center
{
  display: table !important;
  width: 100%;
  height: 100%;
} */

.bt-center
{
  text-align: center !important;
  
}
.item-button
{
  padding: 20px 50px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  animation: animate 2s linear infinite !important;
}
@keyframes animate{
  0%{
    background-color: red;
  }
  20%{
    background-color: green;
  }
  40%{
    background-color: purple;
  }
  60%{
    background-color: #000080;
  }
}

.About-block
{
  margin-top: 50px;
}
.About-block img
{
  width: 100%;
}
@media only screen and (min-width: 1200px) {
.About-pic img
{
 
    position: relative;
    width: 100% !important;
}
}
.About-text
{
  width: 100%;
  padding: 50px 0 0 50px;
}
.About-text h4
{
  color: #000080 !important;
}
.About-text h2
{
  /* max-width: 290px; */
  padding-bottom: 12px;

}
.About-text p{
  font-size: 16px;
  padding-bottom: 10px;

}
.CardPic img
{
  min-height: 450px;
    position: relative;
    width: 100% !important;
}

.CardText
{
  width: 100%;
  padding: 50px 0 0 50px;

}
.CardText h4
{
  color: #000080 !important;
}
.CardText h2
{
  /* max-width: 290px; */
  padding-bottom: 12px;

}
.CardText p{
  font-size: 16px;
  margin-right: auto;
  width: 35em
}
/* .Nav-responsive
{
  max-width: 1249px !important;
} */
/* .top-nav-collapse { 
  background-color:   #000080 !important; 
  height: 100px;
} */
.info-text
{
  margin-top: 20px;
}
.info-text
{
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  line-height: 1.5rem;
  font-size: 14px;
}
.About-text p{
  font-size: 16px;
  margin-right: auto;
  width: 35em
}
.contact-section
{
  margin-top: 50px;
}
.image-adjust img
{
  margin-bottom: 30px;

}
.vc_row.vc_row-flex
{
  margin-top: -50px;
}
.btn:not(:disabled):not(.disabled)
{
  border-radius: 50px;
}

#tsparticles
{
    position: "absolute";
    top: 0;
    left: 0;
    width: "100%";
    height: 100vh;
}
.text-swift
{
  text-align: center !important;
}